.headSec {
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}

.headerItems {
  background: rgb(166, 166, 166);
  background: linear-gradient( #fb5786, #FAC7B6
  );
  color: rgb(65, 63, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 20px;
}

.pic{
   width: 80px;
}